# data files
data/

# .env file
.env

# notebooks
notebooks/

# checkpoints
**/*.ipynb_checkpoints/

# pyenv version file
.python-version

# virtual environment
venv/

# egg info files
*.egg-info

# python compilation files
*.pyc

# state files
*.swp

# pycharm idea
.idea/
